{% extends 'base.html' %}

{% block content %}
  {% if object %}
  <hi>Edit {{ object.name }}</hi>
  {% else %}
  <h1>Adopt a Petito</h1>
  {% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>

<script>

  const selectS = document.getElementById('id_species');
  const selectC = document.getElementById('id_color');
  M.FormSelect.init(selectS);
  M.FormSelect.init(selectC);

</script>
{% endblock %}