{% extends 'base.html' %}

{% block content %}
{% if object %}
<hi>Edit {{ object.name }}</hi>
{% else %}
<h1>Adopt a Petito</h1>
<div class="center-align">
  <img class="img_small" src="/static/images/a1.png">
  <img class="img_small" src="/static/images/b2.png">
  <img class="img_small" src="/static/images/c3.png">
  <img class="img_small" src="/static/images/d4.png">
  <img class="img_small" src="/static/images/b5.png">
</div>
{% endif %}

<div class="card">
  <div class="card-content">
    <form action="" method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit!" class="btn">
    </form>

    <script>

      const selectS = document.getElementById('id_species');
      const selectC = document.getElementById('id_color');
      M.FormSelect.init(selectS);
      M.FormSelect.init(selectC);

    </script>
  </div>
</div>
{% endblock %}