{% extends 'base.html' %}
{% block content %}

<h1>Sign Up</h1>
<div class="card">
  <div class="card-content">
    <form method="POST" action="{% url 'signup' %}">
      {% csrf_token %}
      <label for="{{ form.username.id_for_label }}" class="custom-auth-form">{{ form.username.label_tag }}</label>
      {{ form.username }}
      <ul class="custom-auth-form">
        <li class="custom-auth-form-list">{{ form.username.help_text }}</li>
      </ul>

      <label for="{{ form.password1.id_for_label }}" class="custom-auth-form">{{ form.password1.label_tag }}</label>
      {{ form.password1 }}
      <ul class="custom-auth-form">
        <li class="custom-auth-form-list">{{ form.password1.help_text }}</li>
      </ul>

      <label for="{{ form.password2.id_for_label }}" class="custom-auth-form">{{ form.password2.label_tag }}</label>
      {{ form.password2 }}
      <ul class="custom-auth-form">
        <li class="custom-auth-form-list">{{ form.password2.help_text }}</li>
      </ul>

      <input type="submit" class="btn" value="Sign Up">
    </form>
  </div>
</div>
{% endblock %}
