{% extends 'base.html' %}
{% block content %}
<h1>Home</h1>
<div class="center-align">
    <img class="img_med" src="static/images/partycorn.gif" alt="">
    <img class="img_med" src="static/images/partycat.gif" alt="">
    <img class="img_med" src="static/images/partybear.gif" alt="">
    <img class="img_med" src="static/images/partydino.gif" alt="">
</div>
</br>
{% if not user.is_authenticated %}
  <h5>Adopt your first petito > <a href="{% url 'signup' %}">Sign Up</a> </h5> 
  <h5>Check on your petitos > <a href="{% url 'login' %}">Log In</a> </h5> 
{% endif %}
</br>
{% endblock %}
