
    <div class="row center-align">
      <div class="col s2">
      <form action="{% url 'feeding' pet.id %}" method="POST">
          {% csrf_token %}
          {{ feeding_form.as_p }}
          <input type="submit" class="btn blue" value="feed">
      </form><br><br><br>
      </div>

      <div class="col s2">
        <form action="{% url 'cleaning' pet.id %}" method="POST">
          {% csrf_token %}
          {{ cleaning_form.as_p }}
            <input type="submit" class="btn blue" value="clean">
          </form><br><br><br>
      </div>

      <div class="col s2">
        <form action="{% url 'loving' pet.id %}" method="POST">
          {% csrf_token %}
          {{ loving_form.as_p }}
        <input type="submit" class="btn blue" value="love">
      </form><br><br><br>
      </div>

      <div class="col s2">
        <form action="{% url 'moving' pet.id %}" method="POST">
          {% csrf_token %}
          {{ moving_form.as_p }}
        <input type="submit" class="btn blue" value="play">
      </form><br><br><br>
      </div>
      <div class="col s2">
        <form action="{% url 'sleeping' pet.id %}" method="POST">
          {% csrf_token %}
          {{ sleeping_form.as_p }}
        <input type="submit" class="btn blue" value="sleep">
      </form><br><br><br>
      </div>
    </div>    
</div>



<script>
    const food = document.getElementById('id_food');
    const cleanup = document.getElementById('id_cleanup');
    const love = document.getElementById('id_love');
    const move = document.getElementById('id_move');
    const sleep = document.getElementById('id_sleep');
    M.FormSelect.init(food);
    M.FormSelect.init(cleanup);
    M.FormSelect.init(love);
    M.FormSelect.init(move);
    M.FormSelect.init(sleep);
</script>