
    <div class="row center-align">
      <div class="col s2">
      <form action="{% url 'feeding' pet.id %}" method="POST">
          {% csrf_token %}
          {{ feeding_form.as_p }}
          <input type="submit" class="btn blue" value="feed">
      </form><br><br><br>
      </div>
      <div class="col s2">
        <p>form</p>
            <input type="submit" class="btn blue" value="clean">
      </div>
      <div class="col s2">
        <p>form</p>
        <input type="submit" class="btn blue" value="play">
      </div>
      <div class="col s2">
        <p>form</p>
        <input type="submit" class="btn blue" value="exercise">
      </div>
      <div class="col s2">
        <p>form</p>
        <input type="submit" class="btn blue" value="sleep">
      </div>
    </div>    
</div>



<script>
    const food = document.getElementById('id_food');
    M.FormSelect.init(food);
</script>