body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 80px;
}

.img_small {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  width: 152px;
  height: auto;
}

.img_big {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  width: 250px;
  height: auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}
