{% extends 'base.html' %}
{% block content %}

<br><br>
<div class="card center-align">
    <br>
    <h1>{{ pet.name }}</h1>
    <a  href="{% url 'detail' pet.id %}">Birth Certificate</a><br>
    <img class="img_big" src="/static/images/{{ pet.species}}{{ pet.color }}.png">
    <img class="img_small" src="/static/images/{{ pet.feeding_set.last }}.gif">    
    <form action="{% url 'feeding' pet.id %}" method="POST">
        {% csrf_token %}
        {{ feeding_form.as_p }}
       <input type="submit" class="btn blue" value="feed">
    </form><br><br><br>
{% include 'test.html' %} 


{% endblock %}