{% extends 'base.html' %}
{% block content %}


<br><br>
<div class="card center-align">
    <br>
    <h1>{{ pet.name }}</h1>
    <a  href="{% url 'detail' pet.id %}">Birth Certificate</a><br>
    <img class="img_big" src="/static/images/{{ pet.species}}{{ pet.color }}.png">
    <img class="img_small" src="/static/images/{{ pet.loving_set.last }}.gif">    
    <br>
    <div class="speech top">
    {% if pet.love_for_today %}
        <div class="card-panel yellow-text text-darken-2 black center-align">I want to play! </div>
        {% else %}
        <div class="card-panel yellow-text text-darken-2 black center-align">I need some love! </div>
    {% endif %}
</div>
    {% include 'base_task.html' %} 


{% endblock %}