{% extends 'base.html' %}
{% block content %}

<div>
    <h1>{{ pet.name }}</h1>
    <img src="/static/images/{{ pet.species}}{{ pet.color }}.png">
    <img src="/static/images/{{ pet.feeding_set.last }}.gif">
    
    <form action="{% url 'feeding' pet.id %}" method="POST">
        {% csrf_token %}
        {{ feeding_form.as_p }}
        <input type="submit" class="btn" value="feed">
      </form>

    <button>clean</button>
    <button>play</button>
    <button>exercise</button>
    <button>sleep</button>
</div>

<div>
    <a href="{% url 'detail' pet.id %}">details</a>
</div>

<script>
    const food = document.getElementById('id_food');
    M.FormSelect.init(food);
</script>



{% endblock %}